<%= render 'home/header' %>
<main class="container-fluid">
  <section class="row justify-content-center mt-5">
    <section class="col-3 col-xxl-2 text-center p-5 mt-3">
      <%= image_tag "pedido-realizado.svg", class: "img-fluid mt-5" %>
      <h4 class="text-dark mt-5">¡Pedido realizado!</h4>
      <p class="fs-6 my-4 mx-2">Te notificaremos una vez que el servicio esté confirmado.</p>
      <a href="<%= root_path() %>">
        <button class="main-button text-dark button-size-medium fs-3 mt-5 text-decoration-none">¡Gracias!</button>
      </a>
    </section>
  </section>
</main>
