// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$theme-colors: (
  "primary":       #5bd8d5,
  "secondary":     #8fa5c1,
  "tertiary":      #f3fcff,
  "darky":     #4f5b6b,
);
$border-radius: .625rem;
$gray-900:      #222b36;
$font-family-base: Nunito;
$font-weight-base: 400;
$font-weight-bold: 600;
$font-size-base: 1.5rem;
$h1-font-size: 3.75rem;
$h2-font-size: 3rem;
$h3-font-size: 1.563rem;
$h4-font-size: 1.3125rem;
$h5-font-size: 1.5rem;
$h6-font-size: 1rem;
$font-sizes: (
  1: 30px,
  2: 20px,
  3: 18px,
  4: 16px,
  5: 15px,
  6: 14px
);

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

@media screen and (max-width: 1400px) {
  .button-size-xlarge {
    width: 323px;
  }
}

@media screen and (min-width: 1401px) {
  .button-size-xlarge {
    width: 390px;
  }
}



.full-page {
  height: 100vh;
}

a {
  color: #404955;
}

body {
  background-color: #fff;
}

.main-button {
  padding: 0px 28px;
  border-radius: 7px;
  background-color: #5bd8d5;
  border-style: none;
}

.button-size-xlarge {
  height: 50px;
}

.button-size-large {
  width: 272px;
  height: 50px;
}

.button-size-medium {
  width: 164px;
  height: 50px;
}

.button-size-small {
  width: 111px;
  height: 35px;
}

.form-input-box {
  width: 272px;
  height: 45px;
  border-radius: 5px;
  border: solid 1px #8fa5c1;
}

.small-input {
  width: 147px;
}

.large-input {
  width: 272px;
}

.header-background {
  height: 65px;
  padding: 0px 49px 0px 36px;
  background-image: linear-gradient(266deg, #7af1cb -9%, #156cb1 96%);
}

.service-box {
  width: 74px;
  height: 74px;
  padding: 15px 17px 16px 16px;
  border-radius: 36px;
  box-shadow: 0 2px 28px -4px rgba(57, 98, 113, 0.3);
  border: solid 1px #d5e3f3;
  background-color: #fff;
}

.object-fit-cover {
  object-fit: cover;
}



.number-input input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  }

  .number-input input[type=number]::-webkit-inner-spin-button,
  .number-input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  }

  .number-input {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .number-input button {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  position: relative;
  }

  .number-input button:before,
  .number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  height: 2px;
  transform: translate(-50%, -50%);
  }

  .number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
  }

  .number-input input[type=number] {
  text-align: center;
  }

  .number-input.number-input {
  border: 1px solid #ced4da;
  width: 10rem;
  border-radius: .25rem;
  }

  .number-input.number-input button {
  width: 2.6rem;
  height: .7rem;
  }

  .number-input.number-input button.minus {
  padding-left: 10px;
  }

  .number-input.number-input button:before,
  .number-input.number-input button:after {
  width: .7rem;
  background-color: #495057;
  }

  .number-input.number-input input[type=number] {
  max-width: 4rem;
  padding: .5rem;
  border: 1px solid #ced4da;
  border-width: 0 1px;
  font-size: 1rem;
  height: 2rem;
  color: #495057;
  }
